.text1 {
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  margin-top: 5%;
  margin-right: 20%;
  margin-bottom: 10%;
  margin-left: 20%;
  filter: blur(3px);
}
hr.hr1 {
  display: block;
  border: 0.5px solid rgba(0, 0, 0, 0.589);
  padding: 0;
  margin-bottom: 2px;
}
.text2 {
  min-height: 750px;
  align-items: center;
  text-align: center;
  justify-content: center;
  
}

.text3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 24px;
}

.text4 {
  font-size: 48px;
  font-weight:bold;
  font-family: 'Roboto', sans-serif;
}

.text5 {
  font-size: 40px;
  font-weight:lighter;
  color: grey;
  font-family: 'Roboto', sans-serif;
}

.text6 {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: grey;
  font-weight: 600;
  padding-right: 16px;
}

.icon1 
{
  margin-right: 8px;
  color: orangered;
  
}

.box1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.box2 {
  border: 1px solid rgb(252, 58, 58);
  border-radius: 7px;
  width: 225px;
  height: 300px;
  box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.15);
  text-align: center;
  margin-bottom: 16px;
  position: relative;
}

  
.box3 {
  text-decoration: none;
}

.box4 {
  margin-top: 24px;
  font-weight: normal;
  font-size: large;
  color:rgb(252, 155, 117);
  margin-left: 25%;
  text-align: left;
}

.box5 {
  margin-top: 32px;
  color:red;
  font-weight: bolder;
  text-decoration: line-through;
  text-decoration-thickness: 2.5px;
  margin-left: 25%;
  text-align: left;
}

.box6 {
  display: flex;
  margin-top: 18px;
  color: black;
  font-weight: 500px;
  margin-left: 5px;
}

.box7 {
  margin-right: 8px;
}

.box8 {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 16px;
  color: orangered
}


.blur1 {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .blur2 {
    border: 1px solid orangered;
    border-radius: 10px;
    min-width: 23%;
    min-height: 23%;
    filter: blur;

    background-color: white;
  }
  
  .blur3 {
    color:orangered;
    font-size: larger;
    margin: 1em;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .blur4 {
    padding: 8px;
    border-radius: 3px;
    font-size: 14px;
    margin: 16px;
    border: 1px solid orangered;
    min-width: 50%;
    
  }
   .button1 {
    display: inline-block;
    border: 0;
    padding: 0 32px;
    height: 32px;
    border-radius: 40px;
    color: white;
    background-color:orangered;
    font-size: larger;
    margin: 8px;
  }